@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
.calCont {
    margin-top: 3% !important;
    margin-bottom: 3% !important;
    padding: 50px;
    border-radius: 5px;
    /* height: 600px; */
    width: 400px;
    /* margin: auto; */
    background-color: #191b28;
    color: white;
}